<div class="project-body">
    <h1 class="page-body-title">İLETİŞİM</h1>
</div>
<div class="container ">
    <div class="grid-2">
        <div class="div-1 active2">
            <img src="../../../assets/about-2.jpg" class="left-animation">
            </div>
        <div class="div-2 active3 card-item">
            <h2> İletişim </h2>
            <p class="card-body">Adress</p>
            <p class="card-bottom">Adress</p>
              <div class="card-bottom"><a>Daha fazla detay </a> <i>→</i></div> 
        
          </div>
     
     
    </div>
  </div>