<footer class="footer" style="background-color: black;">
    <div class="container" >
    <div class="grid-footer">
      <div>
      <img class="footer-logo" src="../assets/logo-1.png">
    </div>
    <div>
      <h5>Adress</h5>
      <p>Lindenstrasse 2439112, Magdeburg</p>
    </div>
    <div>
      <h5>Telefon </h5>
      <p>0-2045678956</p>
    </div>
    <div>
      <h5>E-posta</h5>
      <p>bbegmbh@gmail.com</p>
    </div>
    </div>
    <h6 class="designed-by">Site by <span class="fullname">Umut Bektaş</span> | Copyright © 2020 Best BauExperten GmbH. All rights reserved.</h6>
  </div>
  </footer>
