.grid-footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 4rem;
    .footer-logo{
   
      width: 10vw;
      height: 5vw;
      background:transparent
  
  }
  }
  .footer{
    padding: 1px 0px;
    background-color: black;
    color: white;
    h5{
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 600;
      color: #8a8a8a;
      font-size: 16px;
    }
    p{
      font-family:"IBM Plex Sans", sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #ffffff;
      line-height: 30px;
      margin-top: 15px;
    }
  }
  .designed-by{
    
    font-family:"IBM Plex Sans", sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #8a8a8a;
      line-height: 30px;
      margin-top: 100px;
      .fullname{
        color:#ffffffbd ;
      }
  }