<div class="header-container">
 
    <video src="../assets/home-video.mp4" autoplay loop></video>
    <div class="home-body">
        <div class="flex-item">
        <div class="item-1">
      <h1>EN İYİ İNŞAAT UZMANLARI</h1>
        <h5>Biz inşaat uzmanıyız çünkü sizin için bir ev inşa etmekten mutfağı
          onarmaya kadar her şeyi yapabiliriz. seni bekliyor</h5>
          <button class="home-btn">
            Bize Ulaşın
          </button>
      </div>
      <div class="item-2">
        <img src="../assets/body-image.svg"/>
      </div>
      </div>
      </div>
      </div>

      <div class="container animation-container">
        <div class="grid-2 ">
          <div class="div-1 left-animation">
          <img src="../assets/home-body-1" >
          </div>
          <div class="div-2 right-animation">
          <h2> Hoş Geldiniz</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Vitae tempus quam pellentesque nec nam aliquam sem et. Netus et Maleuada ist bekannt für AC Turpis. Feugiat in ante metus dictum.
             In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. 
             Adipiscing bei in tellus integer feugiat scelerisque varius. Leo Integer Maleuada Nunt Vel Risus Commodo Viverra Maecenas. Pharetra pharetra massa massa ultricies mi quis. 
             Diam sitzen amet nisl suscipit.</p>
            <div class="card-bottom"><a>Daha fazla detay </a> <i>→</i></div> 
      
        </div>
        </div>
      </div>
      <div class="about">
        <div class="container animation-container">
            <h2 class="left-animation">Hakkımızda</h2>
            <div class="d-flex right-animation">
              <div class="card-item ">
                <h4 class="card-title">24</h4>
                <p class="card-body">Şirket uzmanları</p>
                <p class="card-bottom ">Tüm çalışanlarımız uzun yıllara dayanan deneyime sahip yüksek nitelikli uzmanlardır.</p>
              </div>
              <div class="card-item">
                <h4 class="card-title">4</h4>
                <p class="card-body">Şirket uzmanları</p>
                <p class="card-bottom ">Tüm çalışanlarımız uzun yıllara dayanan deneyime sahip yüksek nitelikli uzmanlardır.</p>
              </div>
             
              <div class="card-item ">
                <h4 class="card-title">+70</h4>
                <p class="card-body">Şirket uzmanları</p>
                <p class="card-bottom ">Tüm çalışanlarımız uzun yıllara dayanan deneyime sahip yüksek nitelikli uzmanlardır.</p>
              </div>
              
            
        </div>
        </div>
        
        </div>

        <div class="contact">
            <div class="container">
              <div class="grid-2 animation-container">
                <div class="left-animation">
                <h2 >Bize Ulaşın</h2>
                <p class="card-bottom " >Tüm çalışanlarımız uzun yıllara dayanan deneyime sahip yüksek nitelikli uzmanlardır.</p>
              
                </div>
                <div class="right-animation">
                    <input>
                    <input>
                    <input>
                  <button class="contact-button" >Gönder</button>
                  </div>
          </div>
            </div>
            </div>
