<div class="project-body">
    <h1 class="page-body-title">HAKKIMIZDA</h1>
</div>
<div class="container">
    <div class="grid-2">
      <div class="div-1 left-element active2">
      <img src="../assets/home-body-1" class="left-animation">
      </div>
      <div class="div-2 right-animation active3">
      <h2> Hoş Geldiniz</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Vitae tempus quam pellentesque nec nam aliquam sem et. Netus et Maleuada ist bekannt für AC Turpis. Feugiat in ante metus dictum.
         In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. 
         Adipiscing bei in tellus integer feugiat scelerisque varius. Leo Integer Maleuada Nunt Vel Risus Commodo Viverra Maecenas. Pharetra pharetra massa massa ultricies mi quis. 
         Diam sitzen amet nisl suscipit.</p>
        <div class="card-bottom"><a>Daha fazla detay </a> <i>→</i></div> 
  
    </div>
    </div>
  </div>
  <div class="container animation-container">
    <div class="grid-2">
        <div class="div-2 right-animation">
            <h2> Hoş Geldiniz</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Vitae tempus quam pellentesque nec nam aliquam sem et. Netus et Maleuada ist bekannt für AC Turpis. Feugiat in ante metus dictum.
               In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. 
               Adipiscing bei in tellus integer feugiat scelerisque varius. Leo Integer Maleuada Nunt Vel Risus Commodo Viverra Maecenas. Pharetra pharetra massa massa ultricies mi quis. 
               Diam sitzen amet nisl suscipit.</p>
              <div class="card-bottom"><a>Daha fazla detay </a> <i>→</i></div> 
        
          </div>
      <div class="div-1 left-element">
      <img src="../../../assets/about-2.jpg" class="left-animation">
      </div>
     
    </div>
  </div>
