<div class="project-body">
    <h1 class="page-body-title">PROJELER</h1>
</div>
<div class="container-image">
<div class="project-image">
    <img src="../../../assets/image-1.jpg">
    <div class="image-text" style="color: white;">
        <h4 class="image-title">İstanbul</h4>
        <span class="image-body">Proje : 2018 Ocak</span>
        <span class="image-body">Yapım : 2019 Ocak</span>
    </div>
</div>
<div class="project-image">
    <img src="../../../assets/image-2.jpeg">
    <div class="image-text" style="color: white;">
        <h4 class="image-title">İstanbul</h4>
        <span class="image-body">Proje : 2018 Ocak</span>
        <span class="image-body">Yapım : 2019 Ocak</span>
    </div>
</div>
<div class="project-image">
    <img src="../../../assets/image-3.jpg">
    <div class="image-text" style="color: white;">
        <h4 class="image-title">İstanbul</h4>
        <span class="image-body">Proje : 2018 Ocak</span>
        <span class="image-body">Yapım : 2019 Ocak</span>
    </div>
</div>
<div class="project-image">
    <img src="../../../assets/image-4.jpeg">
    <div class="image-text" style="color: white;">
        <h4 class="image-title">İstanbul</h4>
        <span class="image-body">Proje : 2018 Ocak</span>
        <span class="image-body">Yapım : 2019 Ocak</span>
    </div>
</div>
</div>
<div class="contact">
    <div class="container">
      <div class="grid-2 animation-container">
        <div class="left-animation">
        <h2 >Bize Ulaşın</h2>
        <p class="card-bottom" >Tüm çalışanlarımız uzun yıllara dayanan deneyime sahip yüksek nitelikli uzmanlardır.</p>
      
        </div>
        <div class="right-animation">
            <input>
            <input>
            <input>
          <button class="contact-button" >Gönder</button>
          </div>
  </div>
    </div>
    </div>